<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add A New CD</title>
  </head>
  <body>
    <h1>Add a new CD</h1>
    <form action="/add_new_cd" method="post">
      <label for "new-person">person Name</label>
      <input name="new-person" type="text">
      <label for "new-Contact">Contact Name</label>
      <input name="new-Contact" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
