<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Details</title>
  </head>
  <body>
    <h1>@Model.GetContact()</h1>
    <ul>
      @foreach(string cd in Model.Getpersons())
      {
        <li>@cd</li>
      }

    </ul>
    <a href="/view_all_Contacts">View All Cds</a>
    <a href="/add_contact">Add another person</a>
    <a href="/search_form">Search for Contact</a>
  </body>
</html>
