<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cthulu's Book Of Souls To Eat</title>
  </head>
  <body>
    <a href="/add_contact">Add a new Contact</a>
    <a href="/search_form">Search for Contact</a>
  </body>
</html>
