<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search For Contact</title>
  </head>
  <body>
    <h1>Search for Contact</h1>
    <form action="/search_list" method="post">
      <label for "search-Contact">Contact Name</label>
      <input name="search-Contact" type="text">
      <button type="submit">Search</button>
    </form>
  </body>
</html>
